/* style.css */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  header {
    font-size: 18px;
    font-weight: bold;
    background-color: #282828;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    /* text-decoration: none; */
  }
  
  section {
    color: rgb(0, 0, 0);
    padding: 30px;
  }
  
  h2 {
    color: #000000;
  }

  h3 {
    text-align: center;
  }

  h4 {
    color: #ffffff;
  }

  p {
    text-align: left;
    margin: 2 15px;
    margin-top: 0;
    margin-bottom: 1;
    color: #000000;
  }
  
  #events-news {
    background-color: #e9f1fb;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .palette-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: auto;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .color-block {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    color: #333;
    font-family: Arial, san-serif;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: auto;
    max-width: auto;
    box-sizing: border-box;
    align-items: flex-start;
    height: auto;
    color: #201f1f;
  }

  .color1 {background-color: #eaa7c7;}
  .color2 {background-color: #faefc7;}
  .color3 {background-color: #f28954;}
  .color4 { background-color: #9ed6df; color: #201f1f; }
  .color5 { background-color: #e63f3e; }
  .color6 { background-color: #e2e2bd; }
  .color7 { background-color: #ffdf59; }
  .color8 { background-color: #93d7b6; }

  .color-block a {
    color: #201f1f;
  }

/*   color-code {
    font-size: 14px;
    font-weight: bold;
  }

  color-label {
    font-size: 12px;
    color: #666;
  } */

 .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ffffff;
  opacity: 1;
  margin-buttom: 10px;
}

  @media (max-width: 768px) {
    .palette-container {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 15px;
    }

    header, section {
        padding: 15px;
    }

    h3 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 16px;
        padding: 10px;
    }

    .color-block {
        padding: 15px;
    }

    p {
        font-size: 14px;
    }
}
